/* Estilo para el encabezado de la tabla */
.table-entel thead {
    background-color: #0023A3; /* Azul Entel */
    color: white;
  }
  
  /* Estilo para las filas de la tabla */
  .table-entel tbody tr {
    background-color: #f8f9fa; /* Color claro para las filas */
  }
  
  /* Botones personalizados */
  
  /* Bot贸n Modificar (color naranja Entel) */
  .btn-entel-modificar {
    background-color: #FF6600; /* Naranja Entel */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  /* Bot贸n Eliminar (color rojo para acciones destructivas) */
  .btn-entel-eliminar {
    background-color: #fa0019; /* Rojo Bootstrap */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  /* Bot贸n Detalles (color azul Entel) */
  .btn-entel-detalles {
    background-color: #0023A3; /* Azul Entel */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  /* Margen entre botones */
  .table-entel .btn {
    margin-left: 10px;
  }
 
  .button-group-vertical {
    display: flex;
    flex-direction: column; /* Alineaci贸n vertical */
    gap: 8px; /* Espaciado entre botones */
  }
  
  .btn {
    width: 100%; /* Para que ocupen el 100% del ancho de la celda */
    text-align: center;
  }
  