<div class="col-md-6 offset-md-3">
  <div class="form-header">
    <h3>Crear Módulo</h3>
  </div>

  <div class="form-container">
    <form (ngSubmit)="onSubmit()" #moduleForm="ngForm">
    
      <div class="form-group">
        <label>Número del Módulo:</label>
        <input type="number" class="form-control"
               [(ngModel)]="module.number"
               name="number"
               required
               (ngModelChange)="checkModuleNumber()"
               placeholder="Digite el numero del módulo">
      </div>

      <button class="btn btn-entel"
              [ngClass]="{'btn-naranja': module.number}"
              [disabled]="!moduleForm.form.valid || isLoading">Guardar</button>
    </form>
  </div>
</div>
