<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atención al Cliente</title>
  
</head>
<body>
<div class="container">
  

  <div class="main-content">
    <div class="header">
      <h2>ATENCIÓN</h2>
      <div class="timer">
        <span *ngIf="!timeLimitPassed">
          Tiempo restante: {{ timeLeft * 1000 | date: 'mm:ss':'UTC' }}
        </span>
        <span *ngIf="timeLimitPassed" style="color: red; font-weight: bold;">
          Límite de tiempo pasado: {{ Math.abs(timeLeft) * 1000 | date: 'mm:ss':'UTC' }}
        </span>
      </div>
      
    </div>

    <div class="content-section">
      <div class="client-info">
        <div *ngIf="ticketData">
          <h4>ATENCIÓN N° {{ ticketData.ticketCode }} </h4>
          <p><strong>CLIENTE</strong></p>
          <p>Nombre: {{ ticketData.customerFullName }} </p>
          <p>N° Documento: {{ ticketData.customerDocNumber }} </p>
        </div>

        <textarea class="comment-box" placeholder="AGREGAR COMENTARIO"></textarea>

        <div class="checkbox-section">
          <label>
            <input
              type="radio"
              name="successStatus"
            [checked]="successful"
            (change)="markAsSuccessful()"> EXITOSO
          </label>
          <label>
            <input
              type="radio"
              name="successStatus"
              [checked]="notSuccessful"
              (change)="markAsNotSuccessful()"> NO EXITOSO
          </label>
        </div>

        <div class="checkbox-section">
          <label>
            <input
              type="radio"
              name="attendanceStatus"
            [checked]="attended"
            (change)="markAsAttend()"> ATENDIDO
          </label>
          <label>
            <input
              type="radio"
              name="attendanceStatus"
              [checked]="notAttended"
              (change)="markAsNotAttend()"> NO ATENDIDO
          </label>
        </div>


        <button class="finalize-button" (click)="finalizarAtencion()">FINALIZAR</button>
      </div>
      <div class="services">
        <div class="services-list">
          <div class="service-box">
            <h4>SERVICIOS ELEGIDOS</h4>
            <div class="service-item">
              <p>{{ ticketData.serviceName }} <button>-</button> </p>
            </div>
          </div>

          <div class="service-box">
            <h4>SERVICIOS</h4>
            <ul>
              <li *ngFor="let service of services">
                <span>{{ service.name }} <button class="add-button">+</button> </span>
              </li>
            </ul>
          </div>
        </div>
        <button class="survey-button" (click)="openSurveyPopup()">Realizar encuesta</button>
      </div>
    </div>
  </div>
  <div *ngIf="showMessagePopup" class="popup">
    <p>{{ message }}</p>
  </div>
</div>
</body>

<div *ngIf="showSurveyPopup" class="popup survey-popup">
  <h4>Valora tu atención</h4>
  <div class="survey-stars">
    <i
      *ngFor="let star of [1, 2, 3, 4, 5]"
      class="fa-star"
      [ngClass]="star <= selectedRating ? 'fas' : 'far'"
      (click)="setRating(star)">
    </i>
  </div>
  <button class="close-button" (click)="closeSurveyPopup()">Cerrar</button>
</div>
</html>
