<div class="detalle-agencia">
  <!-- Título de la sección -->
  <h2 class="detalle-titulo">Detalles de la Agencia</h2>

  <!-- Detalles de la agencia -->
  <div class="detalle-item">
    <span class="detalle-label">ID:</span>
    <span class="detalle-valor">{{ agency.id }}</span>
  </div>

  <div class="detalle-item">
    <span class="detalle-label">Ciudad:</span>
    <span class="detalle-valor">{{ agency.city }}</span>
  </div>

  <div class="detalle-item">
    <span class="detalle-label">Sede:</span>
    <span class="detalle-valor">{{ agency.seat }}</span>
  </div>
</div>
