<h2>Lista de Servicios</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.name }}</td>
      <td>{{ service.type }}</td>
      <td>{{ service.description }}</td>
      <td>
        <button (click) = "actualizarService(service.id)" class = "btn btn-info" style="margin-left : 10px">Modificar</button>
        <button (click) = "eliminarService(service.id)" class = "btn btn-danger" style="margin-left : 10px">Eliminar</button>
        <button (click)= "detalleService(service.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
